:root {
    --bg-dark: #302e2b;
    --clr-dark: #262522;
    --clr-dark: #0e1514;
    --clr-dark: #e2e2e2;
    --clr-dark: #989795;
    --clr-dark: #ffffff14;
    --clr-dark: #ffffffb8;
    --sq-light: #ebecd0;
    --sq-dark: #739552;
    --highlight: #fde90f7d;
}

*,
*::before,
*::after {
    font-family: sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--highlight);
}

.danger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ec4444;
}

.dot::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 40%;
    border-radius: 50%;
    background-color: var(--highlight);
}

.attack::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid var(--highlight);
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark);
}

.container {
    display: flex;
    align-items: center;
    max-height: 600px;
    padding: 30px 8px;
    gap: 10px;
}

#board {
    aspect-ratio: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, minmax(20px, 70px));
    grid-template-rows: repeat(8, auto);
    border-radius: 5px;
    user-select: none;
}

.square {
    aspect-ratio: 1;
    font-size: 12px;
    font-weight: 600;
    position: relative;
}

.square.light {
    background-color: var(--sq-light);
    color: var(--sq-dark);
}

.square.dark {
    background-color: var(--sq-dark);
    color: var(--sq-light);
}
#board.flip .square ul.black,
.square ul{
    position: absolute;
    bottom: auto;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    flex-direction: column;
}

#board.flip .square ul.white,
.square ul.black{
    top: auto;
    bottom: 0;
    flex-direction: column-reverse;
}
.square ul li{
    width: 100%;
    aspect-ratio: 1;
}
.square ul li.piece:hover{
    background-color: var(--highlight);
    cursor: pointer;
}
.num {
    position: absolute;
    top: 0;
    left: 2px;
}

.alpha {
    position: absolute;
    bottom: 0;
    right: 2px;
}


.piece {
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: relative;
    z-index: 2;
}

.piece.wp {
    background-image: url(../assets/pieces/wp.png);
}

.piece.wr {
    background-image: url(../assets/pieces/wr.png);
}

.piece.wn {
    background-image: url(../assets/pieces/wn.png);
}

.piece.wb {
    background-image: url(../assets/pieces/wb.png);
}

.piece.wq {
    background-image: url(../assets/pieces/wq.png);
}

.piece.wk {
    background-image: url(../assets/pieces/wk.png);
}

.piece.bp {
    background-image: url(../assets/pieces/bp.png);
}

.piece.br {
    background-image: url(../assets/pieces/br.png);
}

.piece.bn {
    background-image: url(../assets/pieces/bn.png);
}

.piece.bb {
    background-image: url(../assets/pieces/bb.png);
}

.piece.bq {
    background-image: url(../assets/pieces/bq.png);
}

.piece.bk {
    background-image: url(../assets/pieces/bk.png);
}




.movelist {
    min-height: 140px;
    height: 100%;
    overflow-y: scroll;
}

.movelist::-webkit-scrollbar {
    background-color: #262522;
    width: 5px;
}

.movelist::-webkit-scrollbar-thumb {
    background-color: #151413;
}

.movelist::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}

.movelist .move {
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 2px 5px 2px 15px;
}

.move .ply {
    color: #ffffff80;
    margin-right: 8px;
}

.move .node {
    margin-right: 16px;
    min-width: 40px;
    color: #ffffffb8;
    font-weight: 700;
    padding: 4px;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
}

.move:nth-child(odd) {
    background-color: #2a2926;
}

.node.selected {
    background-color: #454441;
    border-bottom: 3px solid #575754;
    color: white;
}
.game-controller {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-width: 300px;
    height: 100%;
    background-color: #262522;
}

.game-controller .header {
    background-color: #21201d;
    padding: 14px;
    color: #ffffffb8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 13px;
}

.icon {
    cursor: pointer;
    aspect-ratio: 1;
    width: 25px;
    border-radius: 2px;
    padding: 4px;
    overflow: hidden;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.game-controller .controller {
    display: grid;
    grid-gap: 3px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #21201d;
    padding: 16px 24px 20px;
    color: rgba(255, 255, 255, 0.72);
}

.game-over {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 300px;
    text-align: center;
    border-radius: 5px;
    background-color: #262421;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    display: none;
    animation: popup .4s .7s cubic-bezier(0.51, 0.01, 0.47, 1.3) forwards;
}

.gamveover .title,
.player {
    transform: scale(0);
    animation: popup2 .4s 1s cubic-bezier(0.51, 0.01, 0.47, 1.3) forwards;
}

.crown:nth-child(1) {
    transform: scale(0);
    animation: popup2 .4s 1.1s cubic-bezier(0.51, 0.01, 0.47, 1.3) forwards;
}

.crown:nth-child(2) {
    transform: scale(0);
    animation: popup2 .4s 1.2s cubic-bezier(0.51, 0.01, 0.47, 1.3) forwards;
}

.crown:nth-child(3) {
    transform: scale(0);
    animation: popup2 .4s 1.3s cubic-bezier(0.51, 0.01, 0.47, 1.3) forwards;
}

@keyframes popup {
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes popup2 {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.game-over.active {
    display: block;
}

.close {
    aspect-ratio: 1;
    color: white;
    right: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
    padding: 5px;
}

.close i::before {
    font-size: 28px;
    font-weight: 600;
}


.game-over .players {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: -24px;
    font-weight: 600;
    color: #ffffffd9;
}

.players .name {
    margin-top: 2px;
}

.players>p {
    font-size: 16px;
}

.players .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    font-size: 12px;
}

.player.white .profile-photo {
    border-color: white;
}

.player.black .profile-photo {
    border-color: black;
}

.player.winner .profile-photo {
    border-color: #81b64c !important;
}

.game-over .header {
    padding-top: 19px;
    padding-bottom: 34px;
    background-color: #312e2b;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}

.game-over .title {
    text-shadow: 0 0.1rem 0 rgba(0, 0, 0, .4);
    font-size: 22px;
    font-weight: 800;
}

.game-over .subtitle {
    font-size: 13px;
    font-weight: 600;
}

.profile-photo {
    overflow: hidden;
    aspect-ratio: 1;
    width: 65px;
    border: 5px solid #81b64c;
    border-radius: 4px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-over .buttons {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 8px;
}

.crowns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.crowns .crown {
    aspect-ratio: 1;
    width: 40px;
}

.crown.dark {
    filter: grayscale(100%);
}

.game-over .buttons .btn.primary:hover {
    box-shadow: 0px 0px 8px #c5f06938;
}

.game-over .buttons .btn.secondary {
    height: 40px;
    font-size: 13px;
    font-weight: 600;
}

.game-over .buttons .btn.primary {
    padding: 5px 28px 10px;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.backdrop.active{
    display: flex;
}
.confirm-popover.active{
    display: block;
}

.confirm-popover {
    max-width: 100%;
    width: 350px;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: #262421;
    border-radius: 5px;
    display: none;
}

.confirm-popover .message {
    font-size: 14px;
    color: #dfdede;
    margin-bottom: 15px;
}

.confirm-popover .buttons {
    display: flex;
    justify-content: space-evenly;
}

.confirm-popover .buttons .btn {
    width: 120px;
    font-weight: 600;
}















@media screen and (max-width: 700px) {
    .icon {
        width: 28px;
    }

    .game-controller {
        flex-direction: column-reverse;
        min-width: 100%;
        height: auto;
    }

    #board {
        margin: 8px 4px;
    }

    .movelist {
        overflow: hidden;
    }

    .game-controller .controller {
        padding: 16px 10px 20px;
    }

    .container {
        gap: 0px;
        min-height: 100vh;
        max-height: max-content;
        padding: 0;
        max-width: 100vw;
        flex-direction: column;
    }

    .game-controller .controller .btn {
        font-size: 18px;
    }

    .square {
        font-size: clamp(7px, 3vmin, 11px);
    }
}